.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

.signup-container h1 {
    font-size: 2rem;
    color: #618244;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    background: #d6dfce;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Anka/Coder', monospace;
    font-size: 16px;
}

button {
    width: 100%;
    background-color: #618244;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    text-decoration: none;
}

button a:active, button a:hover {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #333;
}

footer a {
    color: #618244;
    text-decoration: none;
}

footer a:hover {
    text-decoration: none;
}
